/* .facer {
  display:inline-block;
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
  top:10%;
  font-size: 15px ;
  padding: 10px;
  background-color:#48577e;
  border: 1px solid black;
  border-radius: 5%;

  ;
}
.label {
  justify-content:space-around;
  display:flex;
  size: 100%;
  margin: 10px;
  font-family: fantasy;
  font-weight: lighter;
  font-style: italic;
  border: 1px solid black;
  
}

.img{
  display: flex;
  size: 100%;
  width:100%;
  border: 1px solid black;
}


.button{
  display: 1;
  justify-content: flex;

};
 */
